<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
  <channel>
    <title>Syntactic Bay Leaves</title>
    <description>Pungent programming, and other topics of note</description>
    <link><%= base_url %></link>
    <lastBuildDate><%= last_build_date %></lastBuildDate>
    <pubDate><%= pub_date %></pubDate>
    <ttl><%= ttl %></ttl>
    <% content.each do |post| %>
    <item>
      <title><%= post[:title] %></title>
      <description><![CDATA[<%= post[:body] %>]]></description>
      <link><%= post[:url] %></link>
      <guid><%= post[:url] %></guid>
      <pubDate><%= post[:date] %></pubDate>
    </item>
    <% end %>
  </channel>
</rss>
